/* Цвет основного текста #757575 */
/* Цвет загoловков #212121 */
/* Цвет акцентирования внимания #2196f3 */
/* Цвет вторичного фона #f5f4fa */
/* Цвет белого текста #ffffff */
/* Фон футера и героя #2f303a*/
/* Footer contact color */
/* Icon color */
/* Timing function */
/* Duration */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --logo-web-color: #2196f3;
  --logo-studio-color: #000000;
  --white-color-text: #ffffff;
  --alternative-bgc: #2f303a;
  --secondary-bcg: #f5f4fa;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-time: 250ms;
}
.link {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Site nav */
.logo {
  display: flex;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  align-items: center;
}
.logo .web {
  color: var(--logo-web-color);
}
.logo .studio-dark {
  color: var(--logo-studio-color);
}
.logo .studio-light {
  color: var(--white-color-text);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.nav {
  display: flex;
  align-items: center;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;

  transition-property: color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.site-nav > li:not(:last-child) {
  margin-right: 50px;
}
.header .container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header {
  border-bottom: 1px solid #cecece;
}
.current::after {
  display: inline-block;
  position: absolute;
  content: '';
  background-color: var(--accent-text-color);
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0px;
  border-radius: 2px;
}
.contact-header {
  display: flex;
  text-align: center;
  margin-left: auto;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
  position: relative;
}
.contact-header .tell-link {
  margin-left: 50px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.contact-header .mail-link {
  padding-bottom: 32px;
  padding-top: 32px;
}
/* Hero */
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bc.jpg');
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0 auto;
  width: 1600px;
  background-color: var(--alternative-bgc);
}
.hero .hero-title {
  color: var(--white-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero .button {
  background-color: var(--accent-text-color);
  color: var(--white-color-text);
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;

  transition-property: background-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}
/* Section */
.section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.section .title-features {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.section.features {
  padding-top: 94px;
  padding-bottom: 0px;
}
.features .list-item {
  width: 270px;
  margin-right: 30px;
}
.features .list-item:nth-child(4n) {
  margin-right: 0;
}
.features .list {
  display: flex;
}
.features-img-cover {
  position: relative;
}
.business-description {
  display: flex;
  text-transform: uppercase;
  color: var(--white-color-text);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.busines .list {
  display: flex;
}
.busines .section-title {
  display: flex;
  justify-content: center;
}
.features-img {
  margin-right: 30px;
  width: 370px;
}
.features-img:nth-child(3n) {
  margin-right: 0px;
}
.section .description {
  font-weight: 400;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
}
.our-team .list {
  display: flex;
}
.our-team {
  background-color: var(--secondary-bcg);
}
.our-team .section-title {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.section .team-name {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  margin-bottom: 10px;
}
.section .position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  margin: 0px;
}
.worker-box {
  background-color: var(--white-color-text);
  width: 270px;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  margin-right: 30px;
}
.worker-box:nth-child(4n) {
  margin-right: 0px;
}
.worker-description {
  padding: 30px 32px;
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: var(--alternative-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  margin-bottom: 20px;
}
.contact-header .mail,
.contact-header .tell {
  font-weight: 500;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.contact-header .mail:focus,
.contact-header .tell:focus,
.contact-header .mail:hover,
.contact-header .tell:hover {
  color: var(--accent-text-color);
}
.contact-footer .mail,
.contact-footer .tell {
  font-weight: 400;
  color: var(--primary-text-color);
  line-height: 1.7;
}
.contact-footer .mail {
  color: var(--footer-contact);
  transition-property: color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.mail-list {
  margin-bottom: 4px;
}
.adress-list {
  margin-bottom: 9px;
}
.contact-footer .tell {
  padding-bottom: 0px;
  color: var(--footer-contact);
  transition-property: color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.footer-adress {
  margin-bottom: 9px;
}
.contact-footer .mail:hover,
.contact-footer .tell:hover,
.contact-footer .mail:focus,
.contact-footer .tell:focus {
  color: var(--accent-text-color);
}
.adress {
  color: var(--white-color-text);
  font-style: normal;
  line-height: 1.7;
  font-weight: 400;
}
/* Portfolio */
.examples-list {
  display: flex;
  flex-wrap: wrap;
}
.examples-item:nth-child(3n) {
  margin-right: 0px;
}
.examples-item:nth-last-child(n + 4) {
  margin-bottom: 30px;
}
.filter .button {
  background-color: var(--secondary-bcg);
  color: var(--logo-studio-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 3px;
  border-style: none;

  transition-property: background-color, color, box-shadow;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.filter .button:focus,
.filter .button:hover {
  color: var(--white-color-text);
  background-color: var(--accent-text-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.examples .title-examples {
  color: #000000;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 4px;
}
.examples-item .description {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  color: var(--primary-text-color);
  margin-top: 0px;
}
.examples-item {
  width: 370px;
  margin-right: 30px;
}
.anim-link {
  width: 370px;
}
.item-description {
  width: 322px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 370px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden;
}
.item-description .title {
  margin-bottom: 4px;
  color: var(--logo-studio-color);
}
.anim-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.anim-link:hover,
.anim-link:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list {
  margin-right: 8px;
}
.button-list:last-child {
  margin-right: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.examples-img-cover {
  position: relative;
  overflow: hidden;
}
.anim-description {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: var(--duration-time) var(--timing-function);
}
.anim-link:hover .anim-description {
  transform: translateY(0);
}

.anim-description-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 168px;
  width: 322px;
  color: var(--white-color-text);
  font-size: 18px;
  line-height: 1.55;
  box-shadow: none;
}
/* ==========ICON========== */
.contact-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);

  transition-property: fill;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.mail-link .mail:hover > .contact-icon,
.mail-link .mail:focus > .contact-icon,
.tell-link .tell:hover > .contact-icon,
.tell-link .tell:focus > .contact-icon {
  fill: var(--accent-text-color);
}
.mail-link .mail {
  display: flex;
  align-items: center;
}
.tell-link .tell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-icon-div {
  background-color: var(--secondary-bcg);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.social-media-list {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}
.social-media-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background-color, color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.social-icon {
  fill: var(--icon-color);

  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--accent-text-color);
}
.social-media-link:hover > .social-icon,
.social-media-link:focus > .social-icon {
  fill: var(--white-color-text);
}
.clients-list {
  display: flex;
}
.clients .section-title {
  display: flex;
  justify-content: center;
}
.clients-link:hover,
.clients.link:focus {
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
  box-sizing: border-box;
}
.clients-item {
  margin-right: 30px;
}
.clients-item:last-child {
  margin-right: 0;
}
.clients-icon {
  fill: var(--icon-color);

  transition-property: fill;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.clients-link:hover > .clients-icon,
.clients-link:focus > .clients-icon {
  fill: var(--accent-text-color);
}
.clients-link {
  display: flex;
  width: 170px;
  height: 94px;
  border: 1px solid var(--icon-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  transition-property: border;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.flex-footer {
  display: flex;
  align-items: baseline;
}
.join {
  margin-left: 70px;
}
.join-list {
  display: flex;
  margin-top: 20px;
}
.join-item:not(:last-child) {
  margin-right: 10px;
}
.join-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-text-color);
}
.join-title {
  color: var(--white-color-text);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.social-icon-footer {
  fill: var(--white-color-text);
}
/* ========================MODAL====================== */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);

  opacity: 1;
  transition: opacity var(--duration-time) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);

  width: 528px;
  padding: 40px;

  background-color: var(--white-color-text);
}
.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
}
.modal-button .button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color-text);
  cursor: pointer;
}
.icon-close {
  fill: #000;

  transition-property: fill;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.modal-button .button:hover > .icon-close,
.modal-button .button:focus > .icon-close {
  fill: var(--accent-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  outline: none;

  transition-property: border;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.icon-modal-form {
  position: absolute;
  bottom: 9px;
  left: 5px;
  transform: translateX(50%) translateY(50%);

  transition-property: fill;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.modal-form-label {
  margin-bottom: 12px;
}
.modal-input-wrapper {
  position: relative;
}
.modal-form-input:focus + .icon-modal-form {
  fill: var(--accent-text-color);
}
.modal-form-input:focus {
  border: 1px solid var(--accent-text-color);
}
.modal-input-message {
  width: 100%;
  height: 138px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  transition-property: border;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.modal-input-message:focus {
  border: 1px solid var(--accent-text-color);
}
.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 15px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 1px;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url('../images/icon-check.svg');
  border: none;
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 2px solid var(--accent-text-color);
}
.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-input-button {
  margin-top: 30px;
  background-color: var(--accent-text-color);
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.modal-input-button:focus,
.modal-input-button:hover {
  background-color: #188ce8;
}
.modal-checkbox-link {
  color: var(--accent-text-color);
}
/* =========================FORM-FOOTER========================== */
.form-subscribe {
  margin-left: auto;
}
.form-use {
  display: flex;
  justify-content: center;
  text-align: center;
}
.button-form {
  margin-left: 12px;
  background-color: var(--accent-text-color);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--timing-function);
}
.button-form:focus,
.button-form:hover {
  background-color: #188ce8;
}
.form-button-text {
  font-size: 16px;
  font-weight: 700;
  font-family: roboto, sans-serif;
  text-transform: uppercase;
  color: var(--white-color-text);
}
.footer-form-title {
  text-transform: uppercase;
  color: var(--white-color-text);
  font-weight: 700;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
}
.footer-form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  width: 358px;
  background-color: var(--alternative-bgc);
  padding-left: 16px;
  color: var(--white-color-text);
  letter-spacing: 0.06em;
}
.icon-subscribe {
  margin-left: 10px;
}
